{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Account Settings" %}{% endblock %}

{% block content %}

	<div id="header_wrapper" class="header-sm">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<header id="header">
						<h1>{% trans "Account Settings" %}</h1>
					</header>
				</div>
			</div>
		</div>
	</div>

	<div id="content" class="container-fluid">
		<div class="content-body">
			<div id="dashboard_content" class="tab-content">
				<div class="tab-pane fade active in" id="dashboard1">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
			                <div class="card">
			                  <div class="card-body">
			                  	{% for message in messages %}
			                  		{% if message.tags == "success" %}
			                  			<p><strong>Password changed successfully</strong></p>
			                  		{% endif %}
			                  	{% endfor %}
								<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
							        {% csrf_token %}
							        {{ form.as_p }}
							        <button type="submit" name="action">{% trans "Change Password" %}</button>
							    </form>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}