{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Alerts" %}{% endblock %}

{% block content %}

	<div id="header_wrapper" class="header-sm">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<header id="header">
						<h1>{% trans "ALERTS" %}</h1>
					</header>
				</div>
			</div>
		</div>
	</div>

	<div id="content" class="container-fluid">
		<div class="content-body">
			<div id="dashboard_content" class="tab-content">
				<div class="tab-pane fade active in" id="dashboard1">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
			                <div class="card">
			                  	<div class="card-body">
			                   		<div class="table-responsive">
				                        <table class="table table-striped">
				                          <thead>
				                            
				                          </thead>
				                          <tbody>
				                          	<tr>
				                          		<td><strong>Total Alerts :</strong> {{alert_list.count}}</td>
				                          	</tr>
				                          	<tr>
				                          		<td><strong>Last 30 Days Alerts :</strong> {{last_30_days_alerts_count}}</td>
				                          	</tr>
				                          	<tr>
				                          		<td><strong>Today's Alerts :</strong> {{today_alerts_count}}</td>
				                          	</tr>
				                          </tbody>
				                        </table>
				                        <table class="table table-striped">
				                          <thead>
				                          	{% if most_20_recent_alerts %}
					                            <tr>
					                            	<td><strong>Most Recent Alerts :</strong></td>
					                            </tr>
					                        {% endif %}
				                            <tr>
				                                <th> Name </th>
				                                <th> Server </th>
				                                <th> Date </th>
				                                <th> Logged-in User </th>
				                                <th> Resolution Status </th>
				                            </tr>
				                          </thead>
				                          <tbody>
				                            {% for alert in most_20_recent_alerts %}
				                                <tr>
					                                <td> {{alert.name}} </td>
					                                <td> {{alert.alert_server}} </td>
					                                <td> {{alert.created_at}} </td>
					                                <td> {{alert.alert_user}} </td>
					                                <td> {{alert.status}} </td>
					                            </tr>
					                            {% endfor %}

				                            <!-- {% if most_20_recent_alerts %}
					                            <tr>
					                                <td><b>Most Recent Alerts :</b></td>
					                            </tr>
					                        {% endif %}
				                            <tr>
				                              	{% for alert in most_20_recent_alerts %}
					                                <td>User: {{alert.alert_user}} logged-in on Server: {{alert.alert_server}} {% if 'ROOT' in alert.name %}as ROOT-USER {%endif%} {% if 'FIRST' in alert.name%}for first time {%endif%}at {{alert.created_at}} {% if 'BRUTEFORCE' in alert.name%}with 10 or more failed logins in last 24 hours{%endif%}
				                          			</td>
				                              	{% if forloop.counter|divisibleby:4 %}
				                            </tr>
				                        	<tr>
											    {% endif %}

											    {% endfor %}
										    </tr>
				             -->
				                          </tbody>
				                        </table>
	                  		    </div>
	            	        </div>
	        	        </div>
	    	        </div>
				</div>
			</div>
			<!-- ENDS $dashboard_content -->
		</div>
	</div>
	<!-- ENDS $content -->	
</div>
{% endblock %}